/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 991px) {
    img{
        margin: 0 auto;
    }
    h1{
        font-size: 72px;
    }
    h2{
        font-size: 48px;
    }
    p{
        font-size: 24px;
    }
    
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .tech{
        display: inline-block;
        width:25%;
        
        margin-top: 10vh;
        border: 2px solid white;
        height: 60vh;
        border-radius: 10px;
      }
      .tech-container{
        width:80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
      }
    .head{
        width: 900px;
        margin: auto;
    }
    img{
        float: left;
        margin-right: 20px;
    }
    h1{
        font-size: 72px;text-align: left;
    }
    h2{
        font-size: 48px;
        text-align: left;
        margin-top: 30px;
    }
    .pattern{
        height: 500px;
    }
    p{
        text-align: center;
        font-size: 24px;
    }
    .head p{
        font-size: 25px;
        display:inline;
        margin:0px;
    }
    a{
        margin-right: 0px;
    }
    a:hover{
        transition: 0.7s;
    }
    .subtitle1{
        margin-top: 60px;
    }
    .project a{
        margin:10px;
      }
      
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .pattern{
            height: 500px;
        }
        img{
            float: left;
        }
        h1{
            
            font-size: 72px;
            text-align: left;
        }
        h2{
            font-size: 48px;
            text-align: left;
        }   
}